/*以下部分属于主页面公用部分*/
body {
    background-color: aliceblue;
}

/*通知栏*/
body .top {
    display: block;
    width: 400px;
    height: 80px;
    background-color: #3064bb;
    position: relative;
}

body .top a {
    display: inline-block;
    width: 200px;
    height: 80px;
    background-color: #3064bb;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

body .top a:hover {
    background-color: #608dd9;
}

body .top button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    margin-left: auto;
    width: 50px;
    height: 80px;
    background-color: #3064bb;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

body .top button:hover {
    background-color: #608dd9;
}


/*底边栏*/
body .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 400px;
    height: 80px;
    background-color: #3064bb;
}

body .bottom a {
    display: inline-block;
    width: 200px;
    height: 80px;
    background-color: #3064bb;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

body .bottom a:hover {
    background-color: #608dd9;
}

body .bottom button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    margin-left: auto;
    width: 50px;
    height: 80px;
    background-color: #3064bb;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

body .bottom button:hover {
    background-color: #608dd9;
}