<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalenderSystem</title>
    <link rel="stylesheet" href="../static/css/calender.css">
    <script src="../static/js/vue.js"></script>
</head>
<body>
    <div class="top">
        <a href="#">ALL</a>
        <a href="#">LIFE</a>
        <a href="#">STUDY</a>
        <button type="button">&#8942;</button>
    </div>
    <div class="middle">
        <div class="container">
            <div class="calender">
              <div class="month">
                <div class="date">
                  <h1></h1>
                  <p></p>
                </div>
              </div>
              <div class="weekdays">
                <div>Mon</div>
                <div>Tue</div>
                <div>Web</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
                <div>Sun</div>
              </div>
              <div class="days"></div>
            </div>
        </div>
      
        <script src="../static/js/calender.js"></script>
    </div>
    <div class="bottom">
        <button>|||</button>
        <a href="task.html">任务</a>
        <a href="./calender.html">日历</a>
        <a href="stati.html">统计</a>
    </div>
</body>
</html>